
{% for todo in todos %}	

	<div class="d-flex justify-content-between border-top hover-actions-trigger btn-reveal-trigger px-card border-200 todo-list-item">
		<div class="form-check mb-0 d-flex align-items-center">
			<input class="form-check-input rounded-circle form-check-line-through p-2 form-check-input-{{todo.cor}}" type="checkbox" id="checkbox-todo-{{todo.id}}">
			<label class="form-check-label mb-0 p-3" for="checkbox-todo-{{todo.id}}">{{todo.titulo}}</label>
			<div class="hover-actions">
				<button 
				class="btn btn-light icon-item rounded-3 me-2 fs--2 icon-item-sm"
				hx-delete=" {% url 'core:del_task' todo.id %} "
				hx-target="#tasks"
				hx-confirm="Tem certeza que deseja deletar essa Task?">
					<span class="fas fa-trash text-danger"></span>
				</button>
				<button class="btn btn-light icon-item rounded-3 me-2 fs--2 icon-item-sm"
				hx-post=" {% url 'core:like' todo.id %} "
				hx-target="#tasks">
					<span class="fas fa-user-plus text-primary"></span>
				</button>	
									
			</div>
			
		</div>
		<div class="text-center">
			<span class="badge badge-soft-primary mt-3">{{todo.like.count}}</span>
			</div>
	</div>
			
	{% empty%}	
		<h1 class="fs-5 text-center">NENHUMA TASK ADICIONADA</h1>
{% endfor %}


